---
const { title = await Astro.slots.render('default'), subtitle = await Astro.slots.render('subtitle') } = Astro.props;
---

<div class="blog-headline reveal">
  {title && <h1 set:html={title} />}
  {subtitle && <p set:html={subtitle} />}
</div>
