---
import { getPermalink } from '~/utils/permalinks';
import { APP_BLOG } from '~/utils/config';
import type { Post } from '~/types';

export interface Props {
  tags: Post['tags'];
  class?: string;
  title?: string | undefined;
  isCategory?: boolean;
}

const { tags, title = undefined, isCategory = false } = Astro.props;
---

{tags && Array.isArray(tags) && (
  <div class="post-footer-tags">
    {title !== undefined && <span>{title}</span>}
    {tags.map((tag) => (
      !APP_BLOG?.tag?.isEnabled ? (
        <span>{tag}</span>
      ) : (
        <a href={getPermalink(tag, isCategory ? 'category' : 'tag')}>{tag}</a>
      )
    ))}
  </div>
)}
