---
import BlogLayout from '~/layouts/BlogLayout.astro';

export interface Props {
  frontmatter: {
    title?: string;
  }
}

const { frontmatter } = Astro.props;
---

<BlogLayout title={frontmatter?.title}>
  <div class="md-wrap">
    {frontmatter.title && <h1 class="md-title">{frontmatter.title}</h1>}
    <div class="prose">
      <slot />
    </div>
  </div>
</BlogLayout>
